  <p>画像</p>
  <%= image_tag @customer.image, size: "200x200" %>
<%= form_with model: @customer, url: customer_path(@customer), method: :patch,  local: true do |f| %>


  <div class="form-group">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
　　<%= f.submit '変更', class: "btn btn-success"%>


    <%= link_to '投稿一覧', posts_path %>

　　<%= link_to 'ログアウト',destroy_customer_session_path, method: :delete %>
　　<%= link_to 'トップページへ', top_path %>
<% end %>