<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div>
  <%= image_tag @customer.get_profile_image %>
  <%= @customer.name %>
  <br>
  <%= image_tag @post.get_profile_image %>
  <%= @post.name %>
  <%= @post.explanation %>
</div>

<%= link_to 'ログアウト',destroy_customer_session_path, method: :delete %>
<%= link_to 'トップページへ', top_path %>